:root {
    --ms-link-blue: #0170d1;
    --ms-btn-orange: #cc3d10;
}
/* utility */
img {
    width: 100%;
}
h2 {
    font-size: 41px;
}
h3 {
    font-size: 40px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

.big-vgame {
    color:white;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */

    position: absolute;
    bottom: 0;
    transform: translate(0, 0);
    left: 0;
    padding-bottom: 3rem;
}

.ms_btn-dark {
    background-color: #363636;
    color: white;
    position: relative;
}
.ms_btn-dark:hover, .ms_btn-orange:hover, .ms_btn-blue:hover {
    color: white;
}
.ms_btn-dark:hover::after{
    content: "";
    position: absolute;
    border: 2px solid #363636;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    top: -4px;
    left: -4px;
    border-radius: 50rem;
}
.ms_btn-orange {
    background-color: var(--ms-btn-orange);
    width: 150px;
    color: white;
    position: relative;
}
.ms_btn-blue {
    background-color: var(--ms-link-blue);
    /* width: 150px; */
    color: white;
    position: relative;
}
.ms_btn-blue:hover::after {
    content: "";
    position: absolute;
    border: 2px solid  var(--ms-link-blue);
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    top: -4px;
    left: -4px;
    border-radius: 50rem;
}
.ms_btn-orange:hover::after {
    content: "";
    position: absolute;
    border: 2px solid  var(--ms-btn-orange);
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    top: -4px;
    left: -4px;
    border-radius: 50rem;
}
.font-3 {
    font-size: 1.1rem;

}
.tm::after {
    content: "TM";
    position: absolute;
    font-size: 0.6rem;
    font-weight: bold;
    
}
/* header  */
.header-top {
    height: 35px;
}
.header-top div {
    height: 20px;
}
.header-top img {
    display: block;
    max-height: 100%;
}
.navbar {
    height: 65px;
}
.full-nav li a::after{
    content: "";
    background-image: url(../img/chevron-down-solid.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 10px;
    
}
.full-nav li:hover .text-black {
    color: var(--ms-link-blue)!important;

}
.full-nav li:hover a::after {
    background-image: url(../img/chevron-down-solid-hover.svg);
} 
.full-nav .lent img {
    height: 30px;
    object-fit: cover;

}
/* Fine header  */
/* JUMBO */
.jumbo {
    margin-top: 100px ;
}
/* jumbo top  */
/* da aggiungere  */
.jumbo-top, .banner {
    height: 587px;

}
/* Da aggiungere  */
.jumbo-top img, .banner img {
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
.big-vgame  p {
    margin: 30px 0;
}
.big-vgame img{
    width: 250px;
    height: auto;
    margin-bottom: 30px;
}
.jumbo-bottom {
    margin: 30px 0;
}
.jumbo-bottom .pic {
    position: relative;
    cursor: pointer;
    
    border-radius: 18px;

}
.jumbo-bottom .pic:hover {
    bottom: 10px;

}
.jumbo-bottom img {
    border-radius: 18px;
    
    /* width: fit-content; */

}
.jumbo-bottom .active .pic::after {
    content: "";
    width: calc(100% + 8px);
    height: calc(100% + 8px);

    position: absolute;
    top: -4px;
    left: -4px;
    
    border-radius: 20px;

    border: 2px solid var(--ms-link-blue);


}

/* main  */
.center-title a {
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 550;
}
.center-title p{
    margin: 20px 0;
    font-size: 1.3rem;
}

.products section {
    opacity: 0.5;
    cursor: pointer;
}
.products .active, .products section:hover{
    opacity: 1;
}
.products .active {
    border-bottom: 2px solid #0170d1;
}



/* Media */


/* lg  */
@media all and (min-width: 992px) {

    
}